// https://piccalil.li/blog/a-modern-css-reset

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* Code: */

main {
    background-color: #08070B;
    min-height: 100vh;
}

.right-section-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.copied-text {
    text-transform: uppercase;
    font-size: calc(18rem/16);
    color: #A4FFAF;
}

#copy-icon:hover {
    fill: #FFFFFF;
    cursor: pointer;
}

.hidden-text {
    display: none;
}

.main-container {
    font-family: 'JetBrains Mono', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 2rem;
}

.main-heading {
    font-size: 1rem;
    color: #817D92;
    margin-bottom: 1rem;
    margin-top: calc(64rem/16);
}

.internal-container {
    padding: 1rem;
    background-color: #24232C;
    width: 100%;
}

.generated-password-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    align-items: center;
}

.copy-icon {
    fill: #A4FFAF;
}

.character-length-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-header {
    color: #E6E5EA;
}

.character-length-text {
    font-size: calc(24rem/16);
    color: #A4FFAF;
}

.checkbox {
    display: inline-block;
}

/* Range Input Styling */

#character-length {
    width: 100%;
    -webkit-appearance: none;
    height: calc(8rem/16);
    background: #18171F;
    background-image: linear-gradient(#A4FFAF, #A4FFAF);
    background-size: 50% 100%;
    background-repeat: no-repeat;
}

/* Safari, Chrome, Edge */

#character-length::-webkit-slider-thumb {
    -webkit-appearance: none; /* Clear Browser Thumb */
    width: calc(25rem/16);
    height: calc(25rem/16);
    background-color: #E6E5EA;
    border-radius: 25px;
    cursor: pointer;
}

/* FireFox */

#character-length::-moz-range-thumb {
    -webkit-appearance: none;
    width: calc(25rem/16);
    height: calc(25rem/16);
    background-color: #E6E5EA;
    border-radius: 25px;
    cursor: pointer;
}

.password-properties-container {
    margin-top: calc(32rem/16);
    margin-bottom: calc(32rem/16);
}

.checkbox-element {
    margin-bottom: calc(18rem/16);
}

.checkbox-icon {
    border: 2px solid white;
    display: inline-flex;
    box-sizing: border-box;
    padding: calc(2.5rem/16);
}

.checkbox-icon svg {
    visibility: hidden;
}

.checkbox-input:checked + .checkbox div:first-child {
    background-color: #A4FFAF;
    border-color: transparent;
}

.checkbox-input:checked + .checkbox svg {
    display: inline-block;
    visibility: visible;
}

.checkbox-input {
    position: absolute;
    visibility: hidden;
}

.checkbox-label {
    color: #E6E5EA;
    margin-left: 0.5rem;
}

.checkbox-icon:hover {
    cursor: pointer;
}

.generated-password {
    color: #E6E5EA;
    font-size: calc(24rem/16);
    font-weight: 500;
}

.password-strength-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #18171F;
    padding: calc(15rem/16);
}

.password-strength-heading {
    color: #817D92;
}

.password-strength-actual {
    color: #E6E5EA;
    font-size: calc(20rem/16);
}

.progress-indicator {
    margin-left: 0.8rem;
    display: flex;
    gap: 0.5rem;
}

.generate-button {
    all: unset;
    background-color: #A4FFAF;
    width: 100%;
    margin-top: 1.8rem;
    margin-bottom: 1rem;
    padding: calc(21rem/16) 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.generate-button:focus, .generate-button:hover {
    cursor: pointer;
}



.determined-strength {
    display: flex;
    align-items: center;
}

.password-strength {
    width: calc(10rem/16);
    min-height: calc(28rem/16);
    box-sizing: border-box;
    display: inline-block;
}

.password-strength {
    border: 2px solid #E6E5EA;
}

/* Password too weak */

.password-too-weak .password-strength:nth-child(1) {
    border: none;
    background-color: #F64A4A;
}

/* Password weak */

.password-weak .password-strength:nth-child(1) {
    border: none;
    background-color: #FB7C58;
}

.password-weak .password-strength:nth-child(2) {
    border: none;
    background-color: #FB7C58;
}

/* Password medium */

.password-medium .password-strength:nth-child(1) {
    border: none;
    background-color: #F8CD65;
}

.password-medium .password-strength:nth-child(2) {
    border: none;
    background-color: #F8CD65;
}

.password-medium .password-strength:nth-child(3) {
    border: none;
    background-color: #F8CD65;
}

/* Password strong */


.password-strong .password-strength:nth-child(1) {
    border: none;
    background-color: #A4FFAF;
}

.password-strong .password-strength:nth-child(2) {
    border: none;
    background-color: #A4FFAF;
}

.password-strong .password-strength:nth-child(3) {
    border: none;
    background-color: #A4FFAF;
}

.password-strong .password-strength:nth-child(4) {
    border: none;
    background-color: #A4FFAF;
}

@media (min-width: calc(768rem/16)) {
    .generate-button:hover {
        background-color: transparent;
        border: 2px solid #A4FFAF;
        fill: #A4FFAF;
        color: #A4FFAF;
    }

    .main-container {
        max-width: calc(540rem/16);
        margin: 0 auto;
    }

    .main-heading {
        margin-top: calc(133rem/16);
    }
}